[Desktop Entry]
Name=Opacity Control
Comment=Controls opacity (blur) of all windows
Icon=preferences-system-windows-script-test
Type=Service

X-Plasma-API=declarativescript
X-Plasma-MainScript=code/main.qml

X-KDE-PluginInfo-Author=LinG
X-KDE-PluginInfo-Name=opacity-control
X-KDE-PluginInfo-Version=0.0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=opacity-control
X-KDE-ParentComponents=opacity-control
